{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h2>{{ post.title }}</h2>
        <p>
            {{ post.content }}
        </p>
    </article>

    <div>
        {% for comment in comments %}
            {{ comment.content }} <br/>
        {% endfor %}
    </div>

    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
            <input type="submit" value="Create" />
        {{ form_end(form) }}
    </div>

{% endblock %}
